@import '../../styles/variable';

.wrapper {
  display: flex;
  flex-direction: column;

  .toggle {
    background: transparent;
    border: 0px;
    transition: all 0.5s;
    outline: 0px;
    &.open {
      transform: rotateX(180deg);
    }
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    color: $gray-900;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .dropdown {
    list-style: none;
    padding-left: 0px;
    & > li > a {
      padding: 8px 16px;
      display: block;
      font-size: 14px;
      color: $gray-900;
      text-decoration: none;

      &:hover {
        color: $blue-700;
        background: $gray-50;
      }
    }
  }
}
