@import '../../styles/variable';

.panel {
  text-align: left;
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .description {
    font-size: 16px;
    color: $gray-700;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .link {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-decoration: none;
    color: $blue-600;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    & svg {
      margin-left: 8px;
    }
  }
}
