@import '../../styles/variable';

.adWidget {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  padding: 40px;
  background: $overlay-gradient;
  border-radius: 6px;
  align-items: center;
  justify-content: space-between;
  color: $white;

  .container {
    text-align: left;

    .title {
      font-weight: 700;
      color: $white;
      line-height: 0px;
      margin-bottom: 15px;
    }

    .description {
      color: $white-800;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .image {
    width: 80px;
    height: 80px;
  }
}
