@import '../../styles/variable';

.wrapper {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 16px;
    font-weight: 500;
    color: $gray-900;
    margin-bottom: 3px;
  }

  .list {
    list-style: none;
    padding-left: 0px;
    & > li > a {
      padding: 8px 16px;
      display: block;
      font-size: 14px;
      color: $gray-900;
      text-decoration: none;
      border-radius: 6px;

      &:hover {
        color: $blue-700;
        background: $gray-50;
      }
    }
  }
}
