/* Basic */
$black: #000;
$white: #fff;

/* White Series */
$white-50: rgba(255, 255, 255, 0.05);
$white-100: rgba(255, 255, 255, 0.1);
$white-200: rgba(255, 255, 255, 0.2);
$white-300: rgba(255, 255, 255, 0.3);
$white-400: rgba(255, 255, 255, 0.4);
$white-500: rgba(255, 255, 255, 0.5);
$white-600: rgba(255, 255, 255, 0.6);
$white-700: rgba(255, 255, 255, 0.7);
$white-800: rgba(255, 255, 255, 0.8);
$white-900: rgba(255, 255, 255, 0.9);

/* Blue Series */
$blue-50: #f0f6ff;
$blue-100: #cde0fe;
$blue-200: #b4d1fd;
$blue-300: #6aa3fb;
$blue-400: #5194fb;
$blue-500: #3884fa;
$blue-600: #1a6ae6;
$blue-700: #0551c7;
$blue-800: #043d95;
$blue-900: #022964;

/* Gray Series */
$gray-50: #f7f7f7;
$gray-100: #ededed;
$gray-200: #e5e5e5;
$gray-300: #d9d9d9;
$gray-400: #cccccc;
$gray-500: #b2b2b2;
$gray-600: #808080;
$gray-700: #666666;
$gray-800: #4d4d4d;
$gray-900: #1a1a1a;

/* Primary */
$green: #459142;
$orange: #eba535;
$red: #e75127;
$dark-red: #b42314;

/* Shadow */
$widget-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
$light-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
$middle-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
$outline-shadow: 0 12px 48px rgba(149, 157, 165, 0.3);
$input-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
$focus-shadow: 0px 0px 0px 4px rgba(56, 132, 250, 0.3);

/* Gradient */
$overlay-gradient: linear-gradient(90deg, #257bf9, #2426ca);
