@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/Inter/static/Inter-Thin-slnt=0.ttf);
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/Inter/static/Inter-ExtraLight-slnt=0.ttf);
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/Inter/static/Inter-Light-slnt=0.ttf);
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/Inter/static/Inter-Regular-slnt=0.ttf);
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/Inter/static/Inter-Medium-slnt=0.ttf);
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/Inter/static/Inter-SemiBold-slnt=0.ttf);
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/Inter/static/Inter-Bold-slnt=0.ttf);
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/Inter/static/Inter-ExtraBold-slnt=0.ttf);
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/Inter/static/Inter-Black-slnt=0.ttf);
}