@import '../../styles/variable';

.wrapper {
  text-decoration: none;

  .widget {
    box-sizing: border-box;
    background-size: cover;
    background-position: center top;
    border-radius: 6px;
    text-align: center;
    height: 180px;
    box-shadow: $widget-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .badge {
      display: flex;
      width: 96px;
      height: 96px;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 50%;
      margin-top: 24px;
      box-shadow: $light-shadow;
      transition: all 0.2s;

      .badgeImage {
        margin-top: 0px;
        max-width: 60%;
        height: auto;
        max-height: 55%;
      }
    }

    &:hover {
      .badge {
        transform: translateY(-5px);
        box-shadow: $middle-shadow;
      }
    }

    .title {
      font-weight: 600;
      line-height: 0px;
      color: black;
    }
  }
}
