@import '../../styles/variable';

.heading {
  text-align: left;
  padding-top: 149px;
  height: 280px;
  position: relative;
  background: url('/images/heading.svg');
  background-size: 100% auto;
  background-position-y: -47px;
  background-repeat: no-repeat;

  .title {
    font-size: 48px;
    line-height: 0px;
    font-weight: 500;
    color: $gray-900;
  }

  .description {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 5px;
    color: $gray-800;
  }
}
