@import '../../styles/variable';

.navbar {
  position: fixed;
  box-sizing: border-box;
  background: $gray-900;
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  color: $white;
  z-index: 999;

  .title {
    font-weight: 400;
    flex: 1;
    text-align: left;
    margin-left: 20px;
  }

  .avatar {
    background-color: $red;
    color: $white;
    margin-right: 20px;
  }
}
