@import '../../styles/variable';

.footer {
  padding: 40px;
  box-shadow: $outline-shadow;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    & img {
      margin-right: 30px;
    }

    .title {
      font-weight: 400;
      margin: 0px;
    }
  }

  .section {
    flex-direction: column;

    .subtitle {
      font-size: 14px;
      line-height: 0px;
      margin-bottom: 0px;
      font-weight: 600;
      color: $blue-600;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .comment {
      font-size: 12px;
      line-height: 18px;
      color: $gray-800;
    }
  }
}
