@import '../../styles/variable';

body {
  .wrapper {
    padding: 0px;
    display: flex;
    align-items: center;
    border: 1px solid $gray-200;
    box-shadow: none;
    border-radius: 4px;
    box-shadow: $outline-shadow;
    flex: 1;

    & input {
      height: 13px;
      box-shadow: $input-shadow;
    }

    &:focus-within {
      border: 1px solid $blue-500;
      box-shadow: $focus-shadow;
    }

    & textarea {
      padding: 6px 16px;
    }

    & > .input {
      margin-left: 0px;
      padding-top: 12px;
      padding-bottom: 12px;
      flex: 1;
    }

    & > .button {
      padding: 14px;
      color: $gray-700;
    }
  }
}
