@import '../../styles/variable';

body {
  .button {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    text-transform: none;
    padding: 16px 24px;
    font-size: 14px;
    transition: all 0.3s;

    &.primary {
      border: 1px solid $blue-200;
      color: $blue-600;

      &:hover {
        border: 1px solid $blue-600;
        background: transparent;
      }
    }

    &.secondary {
      border: 1px solid $white-500;
      color: $white;

      &:hover {
        border: 1px solid $white;
        color: $white-800;
      }
    }
  }
}
