@import '../../styles/variable';

.wrapper {
  text-decoration: none;

  .tileItem {
    text-align: left;
    display: flex;
    flex-direction: row;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;

    .tileBadge {
      display: flex;
      width: auto;
      min-width: 56px;
      max-width: 56px;
      height: 56px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: black;
      box-shadow: $widget-shadow;
      margin-right: 15px;

      & img {
        width: 60%;
        height: auto;
      }
    }

    .section {
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        line-height: 18px;
        margin-top: 2px;
        margin-bottom: 9px;
        color: $blue-600;

        .verifiedIcon {
          margin-left: 5px;
          font-size: 20px;
          color: $green;
        }
      }

      .comment {
        font-size: 14px;
        color: $gray-700;
        font-weight: 500;
        margin-top: -5px;
      }
    }
  }
}
